body
{
  width: 85%;  
  margin: 0 auto;
  background-color: #8080ff;
  background-repeat:no-repeat;
  background-size:cover;
  background-image: url('/public/images/background.gif');
  font-family: Verdana, Arial, Helvetica, sans-serif;
  #font-family: "Times New Roman", Georgia, Serif;
  color: #000000;
  border-color: #ffffff;
}

.myone
{
background-color: #c0c0c0;
color: #ffffff;
}
element 
{ 
#color: red
}