#{extends 'main.html' /}
#{set title:'Welcome to MyTweet!' /}

<nav class="ui inverted blue menu">
  <a class="ui item" href="/createtweet"><i class="comment icon"></i>Write A Tweet</a>
  <a class="ui item" href="/tweetlist"><i class="comments icon"></i>List All Tweets</a>
  <a class="ui item" href="/tweeterlist"><i class="users icon"></i>List All Tweeters</a>
  <a class="ui item" href="/options"><i class="options icon"></i>Options</a>
  <a class="ui item" href="/accounts/logout"><i class="sign out icon"></i>Log Out</a>
</nav>

<section class="ui raised segment"style=background:#5883f0>
 <div class="ui middle aligned two column grid">
 <div class="column">
 #{include "Segments/createtweet.html" /}
 </div>
 <div class="column">
 #{include "Segments/tweetlist.html" /}
 </div>
 </div>
  <div class="ui middle aligned two column grid">
 <div class="column">
 #{include "Segments/tweeterlist.html" /}
 </div>
 <div class="column">
 #{include "Segments/options.html" /}
 </div>
 </div>
 </section>