<section class="ui raised segment">
  <div class="ui grid ">
      <aside class="six wide column">
      <img src="/public/images/writetweet.gif" class="ui medium image">
    </aside>
    <div class="ui form six wide column">
      <div class="ui stacked segment">
        <form action="/createtweet/changetweet" method="post">
		     <h2 class="ui small header">Enter your Tweet below:</h2>
		       <textarea class="ui field" name="tweetmessage"> </textarea>
		         <input class="ui blue button" type="submit" name="submit" value="Tweet!" />
	       </form>
      </div>
    </div>
  </div>
</section>