<section class="ui raised segment">
  <div class="ui grid">
    <article class="eight wide column">
      <h2 class="ui small header">Choose from the following options:</h2>
    </article>
        <aside class="six wide column">
      <img src="/public/images/options.gif" class="ui medium image">
    </aside>
  </div>
</section>