<section class="ui raised segment">
  <div class="ui grid">
      <div class="ui ten wide column fluid form">
      <div class="ui stacked segment">
          <form action="/register" method="POST">
            <h3 class="ui header">Sign Up</h3>
            <div class="two fields">
              <div class="field">
                <label>First Name</label>
                <input placeholder="First Name" type="text" name="firstName">
              </div>
              <div class="field">
                <label>Last Name</label>
                <input placeholder="Last Name" type="text" name="lastName">
              </div>
            </div>
            <div class="two fields">
            <div class="field">
              <label>Email</label>
              <input placeholder="Email" type="text" name="email">
            </div>
            <div class="field">
              <label>Password</label>
              <input type="password" name="password">
            </div>
            </div>
            <button class="ui blue submit button">Sign Up</button>
          </form>
        </div>  
      </div>
          <aside class="ui six wide column">
      <img src="/public/images/signup.gif" class="ui small image">
    </aside>
      </div>
</section>