<section class="ui raised segment">
  <div class="ui two column grid segment">
    <aside class="six wide column">
      <img src="/public/images/tweeterlist.gif" class="ui medium image">
    </aside>
  <div class="ui column">
    <div class="ui list">
      <table class="ui celled blue compact table">
        <thead>
          <th class="three wide">First Name</th>
          <th class="three wide">Last Name</th>
        </thead>
      <tbody>
        #{list items: tweeters, as:'tweeter'}
          <tr>
            <td>${tweeter.firstName}</td>
            <td>${tweeter.lastName}</td>
          </tr>
        </tbody>
        #{/list}        
      </table>
    </div>
  </div>
  </div>
</section>