<section class="ui raised segment">
  <div class="ui two column grid segment">
  <div class="ui column">
    <div class="ui list">
      <table class="ui celled blue compact table">
        <thead>
          <th class="nine wide">List of all Tweets:</th>
        </thead>
      <tbody>
        #{list items: tweets, as:'tweet'}
          <tr>
            <td>${tweet.message}</td>
          </tr>
      </tbody>
        #{/list}
      </table>
    </div>
  </div>
      <aside class="six wide column">
      <img src="/public/images/tweetlist.gif" class="ui medium image">
    </aside>
  </div>
</section>