<section class="ui stacked segment">
  <div class="ui grid">
  <aside class="ui three wide column">
     <img src="/public/images/welcome.gif" class="ui small image">
    </aside>
    <div class="ui eleven wide column">
      <header class="ui  header"><b>Welcome to MyTweet!</b></header>
      <p>Please <b>Login</b> or <b>Sign Up</b> below to the MyTweet Service to begin Tweeting!</p>
      <p>Once you are logged in, you may Write your own Tweet, view Tweets, and view Tweeters.</p>
    </div>
  </div>
</section>

