<nav class="ui inverted blue menu">
  <a class="ui item" href="/createtweet"><i class="comment icon"></i>Write A Tweet</a>
  <a class="ui item" href="/tweetlist"><i class="comments icon"></i>List All Tweets</a>
  <a class="ui item" href="/tweeterlist"><i class="users icon"></i>List All Tweeters</a>
  <a class="ui item" href="/options"><i class="options icon"></i>Options</a>
  <a class="ui item" href="/accounts/logout"><i class="sign out icon"></i>Log Out</a>
</nav>