#{extends 'main.html' /} 
#{set title:'MyTweet' /} 

<section class="ui raised segment"style=background:#5883f0>
#{include "segments/welcome.html" /}
</section>

<section class="ui raised segment"style=background:#5883f0>
 <div class="ui middle aligned two column grid">
 <div class="column">
 #{include "Segments/login.html" /}
 </div>
 <div class="column">
 #{include "Segments/signup.html" /}
 </div>
 </div>
 </section>


